@import 'utils/_variables.scss';
@import 'base/_base.scss';
@import '_loader.scss';
@import '_fonction-section.scss';
@import 'layout/_header.scss';
@import 'layout/_forms.scss';
@import 'pages/_index-page.scss';
@import '_restaurants-section.scss';
@import 'pages/_restaurant-page.scss';
@import '_search-section.scss';
@import 'layout/_footer.scss'; 
@import 'components/_buttons.scss';

.mainwrapper {

    margin:0 auto;
}

a {
    text-decoration:none;
    color:black;
}

h2 {
    padding-left:20px;
    font-weight:800;
    font-size:55px;
    padding:20px 0 0 0;
    margin: 0 0 15px 25px;
    }

@media screen and (min-width:1000px) {


.restaurants-section {
    gap:35px;
    margin-top:0;
    padding-top:50px;

    .restaurant-title {
        div {
            padding-right:30px;
        }
    }

    a {
        width:50%;
    }

    h2 {
        margin: 0 0 0 25px;
        padding:0;
        font-size:35px;
    }

    h3 {
        font-size:28px;
    }

    .restaurant-article__new {
        font-size:20px;
    }

    .two-restaurants {
        flex-direction: row;
        gap:0px;
    }

    .fa-heart {
        font-size:35px;
    }

    .two-restaurants__restaurant-article {
            
        p:last-child {
        font-size:25px;
        }
    }
}


}
