@import '_base.scss';
@import '_header.scss';
@import '_loader.scss';
@import '_pages.scss';
@import '_fonction-section.scss';
@import '_restaurants-section.scss';
@import '_search-section.scss';
@import '_footer.scss';

.mainwrapper, footer {
    font-family:'Roboto';
    margin:0 auto;
}

a {
    text-decoration:none;
    color:black;
}

h2 {
    padding-left:20px;
    font-weight:800;
    font-size:55px;
    padding:20px 0 0 0;
    margin: 0 0 15px 25px;
    }









@media screen and (min-width:1500px) {
    body {
        width:1450px;
        margin-left:auto;
        margin-right: auto;
    }    
}

@media screen and (min-width:1000px) {

.main-section {
    display:flex;
    flex-direction:column;
    }

.two-sections {
    display: flex;  
    flex-direction:row-reverse; 
    }

.search-section {
    width:50%;

    h1 {
        padding:50px;
        text-align: center;
        font-size:35px;
        }

    .button {
        font-size:25px;
        margin-top:70px;
        margin-bottom:0px;
        }

    p {
        font-size:25px;
        }

    }

.fonction-section {
    width:50%;
    
    h2 {
        padding:50px;
        text-align:center;
        font-size:35px;
        margin:0;
    }

    .all-fonctions {
        padding: 10px 20px 70px 20px;
    }

    .fonction {
        font-size:25px;
        width:85%;

        i {
            padding-right:0;
        }

        p:nth-child(3) {
            padding:0;
        }
    }
    
}

.restaurants-section {
    gap:35px;
    margin-top:0;
    padding-top:50px;

    .restaurant-title {
        div {
            padding-right:30px;
        }
    }

    a {
        width:50%;
    }

    h2 {
        margin: 0 0 0 25px;
        padding:0;
        font-size:35px;
    }

    h3 {
        font-size:28px;
    }

    .new {
        font-size:20px;
    }

    .two-restaurants {
        flex-direction: row;
        gap:0px;
    }

    .fa-heart {
        font-size:35px;
    }

    .restaurant-article {
            
        p:last-child {
        font-size:25px;
        }
    }
}

footer {
    p {
        text-align: center;
        font-size:35px;
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
        margin:0;
        padding: 20px 35px;
        font-size: 25px;
    }
}
}
