.index-header {
    display:flex;
    justify-content: center;
    flex-direction: column;

    div {
        display: flex;
        justify-content: center;
        padding:20px;
        box-shadow: 0 5px 5px rgb(202, 202, 202);
        z-index: 9;
    }
}